.no-js .multi-step-form fieldset button, .no-js .multi-step-form h2, .multi-step-form.edit-form fieldset button, .multi-step-form.edit-form h2 {
  display: none !important;
}
.no-js .multi-step-form fieldset, .multi-step-form.edit-form fieldset {
  display: block !important;
}
.no-js .multi-step-form [type="submit"], .no-js .multi-step-form [type="reset"], .multi-step-form.edit-form [type="submit"], .multi-step-form.edit-form [type="reset"] {
  display: inline-block !important;
}
.no-js .multi-step-form .steps, .multi-step-form.edit-form .steps {
  display: none;
}
.multi-step-form fieldset {
  display: none;
}
.multi-step-form fieldset:first-of-type {
  display: block;
}
.multi-step-form fieldset.hidden {
  display: none;
}
.multi-step-form fieldset.visible {
  display: block;
}
.sub-body .multi-step-form .steps button {

  /* width: 16.6%;
  padding: 4px;
  margin: 0;
  text-align-last: center; */
    width: 16.66%;
    float: left;
    font-size: 12px;
    line-height: 36px;
    font-weight: bold;
    color: black;
    padding: 0 0 0 30px;
    background: white;
    background: linear-gradient(white, white);
    position: relative;
    border: none;
    text-align-last: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.sub-body .multi-step-form .steps [disabled] {
  background: none;
}
.sub-body .multi-step-form .steps .active {
  /* background: #2ccdea; */
  background: #5892fc;
  color: white !important;
}
.sub-body .multi-step-form .steps {
  /* background-color: white;
  margin: 130px 0px 0px 0px; */
  background-color: white;
  padding: 0;
  /* margin: 130px 0px 0px 0px; */
  margin: 20px 0px 0px 0px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  counter-reset: flag;
}
.steps button:first-child {
  /* padding-left: 46px; */
  border-radius: 5px 0 0 5px;
  }

  .steps button:first-child:before {
    left: 8px;
  }
  .steps button.active:after
  {
    /* background: #2ccdea;
    background: linear-gradient(135deg, #2ccdea, #2ccdea); */
    background: #5892fc;
    background: linear-gradient(135deg, #5892fc, #5892fc);
  }
  .steps button.active:before
  {
    background: white;
    background: linear-gradient(135deg, white, white);
  }
  .steps button:before {
		/* content: counter(flag); */
    counter-increment: flag;
    /*some styles now*/
    border-radius: 100%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 8px 0;
    position: absolute;
    top: 0;
    color: black;
    left: 25px;
    background: white;
    border:1px solid #999;
    background: linear-gradient(white, white);

  }
  .steps button:after {
    content: '';
    position: absolute;
    top: -2px;
    right: -18px;
    width: 36px;
    height: 36px;
    transform: scale(0.707) rotate(45deg);
    z-index: 1;
    background: white;
    background: linear-gradient(135deg, white, white);
    box-shadow: 2px -2px 0 2px #999,
    3px -3px 0 2px #999;
    border-radius: 0 5px 0 50px;
  }
.h1{
  padding: 8px;
}

  html{
    height: 100%;
  }
  *:focus {
    outline: 0;
}

#tab-val{
  cursor: pointer;
}

body {
  padding: 0 4em;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  /* text-align: center; */
  position:absolute;
  top:0; bottom:0;
  background-color: white;
}
.sub-body{
  background-color: white;
  height: 100%;
  margin: 0px;
  /* width: 1140px; */
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
}

.error {
  color: red;
}
.fieldset{
  border: 0px;
}

small{
  text-align: center;
  padding-top: 15%;
  padding-left: 3%;
}

.switchery-default{
  margin-left: 75%;
  position: absolute !important;
  margin-top: -30px;
}

.mui-select{
  text-align: left !important;
}

label .optional {
  font-weight: normal;
  font-size: 90%;
}

.multi-step-form{
  /* width: 1140px; */
  /* height: 100%; */
  margin-left: auto;
  margin-top: 130px;
  background-color: white;
  margin-right: auto;
  /* position:absolute;
  top:0;
   bottom:0;
   right:0;
   left:0; */
}
.container {
  max-width: 960px;
  /* background-color: black; */
  /* max-width: 600px; */
  margin-left: auto;
  /* margin-left: 20%; */
  margin-right: auto;
  /* margin-right: 10%; */
  width: 100%;
}
.grid {
  margin-left: -1rem;
  /* margin-right: -1rem; */
  margin-right: -70px;
  clear: both;
}

.grid-item {
  position: relative;
  min-height: 1px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.employer{
  width:100%;
}

/*table css*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  /* border: 1px solid #dddddd; */
  text-align: left;
  padding: 8px;
}

th {
  background-color: #dddddd;
}

.when-xs-1,
.when-xs-2,
.when-xs-3,
.when-xs-4,
.when-xs-5,
.when-xs-6,
.when-xs-7,
.when-xs-8,
.when-xs-9,
.when-xs-10,
.when-xs-11,
.when-xs-12 {
  float: left;
}

.when-xs-12 {
  width: 100%;
}

.when-xs-11 {
  width: 91.66666667%;
}

.when-xs-10 {
  width: 83.33333333%;
}

.when-xs-9 {
  width: 75%;
}

.when-xs-8 {
  width: 66.66666667%;
}

.when-xs-7 {
  width: 58.33333333%;
}

.when-xs-6 {
  width: 50%;
}

.when-xs-5 {
  width: 41.66666667%;
}

.when-xs-4 {
  width: 33.33333333%;
}

.when-xs-3 {
  width: 25%;
}

.when-xs-2 {
  width: 16.66666667%;
}

.when-xs-1 {
  width: 8.33333333%;
}

.when-xs-pull-12 {
  right: 100%;
}

.when-xs-pull-11 {
  right: 91.66666667%;
}

.when-xs-pull-10 {
  right: 83.33333333%;
}

.when-xs-pull-9 {
  right: 75%;
}

.when-xs-pull-8 {
  right: 66.66666667%;
}

.when-xs-pull-7 {
  right: 58.33333333%;
}

.when-xs-pull-6 {
  right: 50%;
}

.when-xs-pull-5 {
  right: 41.66666667%;
}

.when-xs-pull-4 {
  right: 33.33333333%;
}

.when-xs-pull-3 {
  right: 25%;
}

.when-xs-pull-2 {
  right: 16.66666667%;
}

.when-xs-pull-1 {
  right: 8.33333333%;
}

.when-xs-pull-0 {
  right: auto;
}

.when-xs-push-12 {
  left: 100%;
}

.when-xs-push-11 {
  left: 91.66666667%;
}

.when-xs-push-10 {
  left: 83.33333333%;
}

.when-xs-push-9 {
  left: 75%;
}

.when-xs-push-8 {
  left: 66.66666667%;
}

.when-xs-push-7 {
  left: 58.33333333%;
}

.when-xs-push-6 {
  left: 50%;
}

.when-xs-push-5 {
  left: 41.66666667%;
}

.when-xs-push-4 {
  left: 33.33333333%;
}

.when-xs-push-3 {
  left: 25%;
}

.when-xs-push-2 {
  left: 16.66666667%;
}

.when-xs-push-1 {
  left: 8.33333333%;
}

.when-xs-push-0 {
  left: auto;
}

.when-xs-offset-12 {
  margin-left: 100%;
}

.when-xs-offset-11 {
  margin-left: 91.66666667%;
}

.when-xs-offset-10 {
  margin-left: 83.33333333%;
}

.when-xs-offset-9 {
  margin-left: 75%;
}

.when-xs-offset-8 {
  margin-left: 66.66666667%;
}

.when-xs-offset-7 {
  margin-left: 58.33333333%;
}

.when-xs-offset-6 {
  margin-left: 50%;
}

.when-xs-offset-5 {
  margin-left: 41.66666667%;
}

.when-xs-offset-4 {
  margin-left: 33.33333333%;
}

.when-xs-offset-3 {
  margin-left: 25%;
}

.when-xs-offset-2 {
  margin-left: 16.66666667%;
}

.when-xs-offset-1 {
  margin-left: 8.33333333%;
}

.when-xs-offset-0 {
  margin-left: 0%;
}

@media (min-width: 568px) {
  .when-sm-1,
  .when-sm-2,
  .when-sm-3,
  .when-sm-4,
  .when-sm-5,
  .when-sm-6,
  .when-sm-7,
  .when-sm-8,
  .when-sm-9,
  .when-sm-10,
  .when-sm-11,
  .when-sm-12 {
    float: left;
  }
  .when-sm-12 {
    width: 100%;
  }
  .when-sm-11 {
    width: 91.66666667%;
  }
  .when-sm-10 {
    width: 83.33333333%;
  }
  .when-sm-9 {
    width: 75%;
  }
  .when-sm-8 {
    width: 66.66666667%;
  }
  .when-sm-7 {
    width: 58.33333333%;
  }
  .when-sm-6 {
    width: 50%;
  }
  .when-sm-5 {
    width: 41.66666667%;
  }
  .when-sm-4 {
    width: 33.33333333%;
  }
  .when-sm-3 {
    width: 25%;
  }
  .when-sm-2 {
    width: 16.66666667%;
    /* width: 20%; */
  }
  .when-sm-1 {
    width: 10%;
  }
  .when-sm-pull-12 {
    right: 100%;
  }
  .when-sm-pull-11 {
    right: 91.66666667%;
  }
  .when-sm-pull-10 {
    right: 83.33333333%;
  }
  .when-sm-pull-9 {
    right: 75%;
  }
  .when-sm-pull-8 {
    right: 66.66666667%;
  }
  .when-sm-pull-7 {
    right: 58.33333333%;
  }
  .when-sm-pull-6 {
    right: 50%;
  }
  .when-sm-pull-5 {
    right: 41.66666667%;
  }
  .when-sm-pull-4 {
    right: 33.33333333%;
  }
  .when-sm-pull-3 {
    right: 25%;
  }
  .when-sm-pull-2 {
    right: 16.66666667%;
  }
  .when-sm-pull-1 {
    right: 8.33333333%;
  }
  .when-sm-pull-0 {
    right: auto;
  }
  .when-sm-push-12 {
    left: 100%;
  }
  .when-sm-push-11 {
    left: 91.66666667%;
  }
  .when-sm-push-10 {
    left: 83.33333333%;
  }
  .when-sm-push-9 {
    left: 75%;
  }
  .when-sm-push-8 {
    left: 66.66666667%;
  }
  .when-sm-push-7 {
    left: 58.33333333%;
  }
  .when-sm-push-6 {
    left: 50%;
  }
  .when-sm-push-5 {
    left: 41.66666667%;
  }
  .when-sm-push-4 {
    left: 33.33333333%;
  }
  .when-sm-push-3 {
    left: 25%;
  }
  .when-sm-push-2 {
    left: 16.66666667%;
  }
  .when-sm-push-1 {
    left: 8.33333333%;
  }
  .when-sm-push-0 {
    left: auto;
  }
  .when-sm-offset-12 {
    margin-left: 100%;
  }
  .when-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .when-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .when-sm-offset-9 {
    margin-left: 75%;
  }
  .when-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .when-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .when-sm-offset-6 {
    margin-left: 50%;
  }
  .when-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .when-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .when-sm-offset-3 {
    margin-left: 25%;
  }
  .when-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .when-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .when-sm-offset-0 {
    margin-left: 0%;
  }
}

@media (min-width: 768px) {
  .when-md-1,
  .when-md-2,
  .when-md-3,
  .when-md-4,
  .when-md-5,
  .when-md-6,
  .when-md-7,
  .when-md-8,
  .when-md-9,
  .when-md-10,
  .when-md-11,
  .when-md-12 {
    float: left;
  }
  .when-md-12 {
    width: 100%;
  }
  .when-md-11 {
    width: 91.66666667%;
  }
  .when-md-10 {
    width: 83.33333333%;
  }
  .when-md-9 {
    width: 75%;
  }
  .when-md-8 {
    width: 66.66666667%;
  }
  .when-md-7 {
    width: 58.33333333%;
  }
  .when-md-6 {
    width: 50%;
  }
  .when-md-5 {
    width: 41.66666667%;
  }
  .when-md-4 {
    width: 33.33333333%;
  }
  .when-md-3 {
    width: 25%;
  }
  .when-md-2 {
    width: 16.66666667%;
  }
  .when-md-1 {
    width: 8.33333333%;
  }
  .when-md-pull-12 {
    right: 100%;
  }
  .when-md-pull-11 {
    right: 91.66666667%;
  }
  .when-md-pull-10 {
    right: 83.33333333%;
  }
  .when-md-pull-9 {
    right: 75%;
  }
  .when-md-pull-8 {
    right: 66.66666667%;
  }
  .when-md-pull-7 {
    right: 58.33333333%;
  }
  .when-md-pull-6 {
    right: 50%;
  }
  .when-md-pull-5 {
    right: 41.66666667%;
  }
  .when-md-pull-4 {
    right: 33.33333333%;
  }
  .when-md-pull-3 {
    right: 25%;
  }
  .when-md-pull-2 {
    right: 16.66666667%;
  }
  .when-md-pull-1 {
    right: 8.33333333%;
  }
  .when-md-pull-0 {
    right: auto;
  }
  .when-md-push-12 {
    left: 100%;
  }
  .when-md-push-11 {
    left: 91.66666667%;
  }
  .when-md-push-10 {
    left: 83.33333333%;
  }
  .when-md-push-9 {
    left: 75%;
  }
  .when-md-push-8 {
    left: 66.66666667%;
  }
  .when-md-push-7 {
    left: 58.33333333%;
  }
  .when-md-push-6 {
    left: 50%;
  }
  .when-md-push-5 {
    left: 41.66666667%;
  }
  .when-md-push-4 {
    left: 33.33333333%;
  }
  .when-md-push-3 {
    left: 25%;
  }
  .when-md-push-2 {
    left: 16.66666667%;
  }
  .when-md-push-1 {
    left: 8.33333333%;
  }
  .when-md-push-0 {
    left: auto;
  }
  .when-md-offset-12 {
    margin-left: 100%;
  }
  .when-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .when-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .when-md-offset-9 {
    margin-left: 75%;
  }
  .when-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .when-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .when-md-offset-6 {
    margin-left: 50%;
  }
  .when-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .when-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .when-md-offset-3 {
    margin-left: 25%;
  }
  .when-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .when-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .when-md-offset-0 {
    margin-left: 0%;
  }
}

@media (min-width: 1024px) {
  .when-lg-1,
  .when-lg-2,
  .when-lg-3,
  .when-lg-4,
  .when-lg-5,
  .when-lg-6,
  .when-lg-7,
  .when-lg-8,
  .when-lg-9,
  .when-lg-10,
  .when-lg-11,
  .when-lg-12 {
    float: left;
  }
  .when-lg-12 {
    width: 100%;
  }
  .when-lg-11 {
    width: 91.66666667%;
  }
  .when-lg-10 {
    width: 83.33333333%;
  }
  .when-lg-9 {
    width: 75%;
  }
  .when-lg-8 {
    width: 66.66666667%;
  }
  .when-lg-7 {
    width: 58.33333333%;
  }
  .when-lg-6 {
    width: 50%;
  }
  .when-lg-5 {
    width: 41.66666667%;
  }
  .when-lg-4 {
    width: 33.33333333%;
  }
  .when-lg-3 {
    width: 25%;
  }
  .when-lg-2 {
    width: 16.66666667%;
  }
  .when-lg-1 {
    width: 8.33333333%;
  }
  .when-lg-pull-12 {
    right: 100%;
  }
  .when-lg-pull-11 {
    right: 91.66666667%;
  }
  .when-lg-pull-10 {
    right: 83.33333333%;
  }
  .when-lg-pull-9 {
    right: 75%;
  }
  .when-lg-pull-8 {
    right: 66.66666667%;
  }
  .when-lg-pull-7 {
    right: 58.33333333%;
  }
  .when-lg-pull-6 {
    right: 50%;
  }
  .when-lg-pull-5 {
    right: 41.66666667%;
  }
  .when-lg-pull-4 {
    right: 33.33333333%;
  }
  .when-lg-pull-3 {
    right: 25%;
  }
  .when-lg-pull-2 {
    right: 16.66666667%;
  }
  .when-lg-pull-1 {
    right: 8.33333333%;
  }
  .when-lg-pull-0 {
    right: auto;
  }
  .when-lg-push-12 {
    left: 100%;
  }
  .when-lg-push-11 {
    left: 91.66666667%;
  }
  .when-lg-push-10 {
    left: 83.33333333%;
  }
  .when-lg-push-9 {
    left: 75%;
  }
  .when-lg-push-8 {
    left: 66.66666667%;
  }
  .when-lg-push-7 {
    left: 58.33333333%;
  }
  .when-lg-push-6 {
    left: 50%;
  }
  .when-lg-push-5 {
    left: 41.66666667%;
  }
  .when-lg-push-4 {
    left: 33.33333333%;
  }
  .when-lg-push-3 {
    left: 25%;
  }
  .when-lg-push-2 {
    left: 16.66666667%;
  }
  .when-lg-push-1 {
    left: 8.33333333%;
  }
  .when-lg-push-0 {
    left: auto;
  }
  .when-lg-offset-12 {
    margin-left: 100%;
  }
  .when-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .when-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .when-lg-offset-9 {
    margin-left: 75%;
  }
  .when-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .when-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .when-lg-offset-6 {
    margin-left: 50%;
  }
  .when-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .when-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .when-lg-offset-3 {
    margin-left: 25%;
  }
  .when-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .when-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .when-lg-offset-0 {
    margin-left: 0%;
  }
}

.grid:before,
.grid:after {
  content: " ";
  display: table;
}

.grid:after {
  clear: both;
}
.padtop{
  padding-top: 9px;
}
.padtopanother {
  padding-top: 1px
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  cursor:pointer;
  display:block;
  width:8px;
  color: #333;
  text-align:center;
  position:relative;
}

input[type=number]::-webkit-inner-spin-button:before,
input[type=number]::-webkit-inner-spin-button:after {
  content: "^";
  position:absolute;
  right: 0;
  font-family:monospace;
  /* line-height: */
}

input[type=number]::-webkit-inner-spin-button:before {
  top:0px;
}

input[type=number]::-webkit-inner-spin-button:after {
  bottom:0px;
  -webkit-transform: rotate(180deg);
}


#footer{
 background: white;
}
#jsonInput{
  background: white;
}
.twenty{
  width: 20%;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;
  z-index: 1030;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal-open .modal {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.modal.in {
  display: block;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1020;
  background-color: black;
}

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}

.modal-dialog {
  margin: auto;
  max-width: 568px;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 1px rgba(0, 0, 0, 0.25);
}

.modal-content {
  position: relative;
  z-index: 1;
}

.modal-header {
  padding: 1rem 1.5rem;
}

.modal-title {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -moz-order: -1;
  -ms-flex-order: -1;
  order: -1;
  margin: 0.5rem 0 0;
  padding: 0;
  font-weight: bold;
  font-family: "adelle-sans", "Adelle Sans", "Clear-Sans-Web", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.2;
}

.modal-body {
  padding: 0 1.5rem;
}

.modal-footer {
  text-align: right;
  padding: 1rem 1.5rem;
}

.modal--lg .modal-dialog {
  max-width: 768px;
}

.modal--sm .modal-dialog {
  max-width: 400px;
}


.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
  /* background-color: #fefefe; */
  margin: auto;
  /* padding: 20px; */
  border: 1px solid #888;
  width: 50%;
  border-radius: 10px;
  /* height: 350px; */
  /* background-color: #4285ba; */
  background-color: white;
  /* Green */
  border: none;
  /* color: white; */
  color: black;
  padding: 12px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

/* The Close Button */

.close, .close-emp-data {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus, .close-emp-data:hover,
.close-emp-data:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


#impNotice {
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.notice {
  text-align: left;
  font-family: Arial, sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

#forMore {
  text-align: left;
  font-family: Arial, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.myProgress {
  width: 100%;
  margin:5px 0px;
  background-color: #d2d5da;
}

.myBar {
  width: 17%;
  height: 10px;
  /* background-color: #2ccdea; */
  background-color: #5892fc;
}

#menu-header{
width: 100%;
height: auto;
margin-top: -20px;
}
.menu-header-left{
float: left;
width: 60%;
margin-top: 20px;
margin-bottom: 20px;
}
.menu-header-right{
float: right;
width: 40%;
/* padding-top:1% ;
 padding-right:1%; */
 margin-top: 20px ;
 padding: 27.5px;
}
.textfield-with-label{
  float: right;
  width: 30%;
  border: 1px solid #dadada;
}
.textfield-with-label input{
  width: 100%;
}
.header-left{
  float: right;
  margin-right: 10px;
}

.h2-heading{
  color: rgba(207, 22, 31, 0.925);
  padding-bottom: 10px;
  font-size: 30px;
}
.h3-heading{
  color:#418aff;
  font-size: 20px;
}
.h3-headingW{
  color:#418aff;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: : 0px;

}
.h3-subHeading{
  color: #929292;
}
.total-Deduction{
  color:red;
}




  h1{
  color: blue;
  padding: 0;
  margin: 20px 0px 0px 0px;
}

.btn-next, .btn-edit, .btn-prev{
  background : #5892fc;
  color: white;
}
.btn-next:hover, .btn-edit:hover , .btn-prev:hover{
  background : #5892fc;
  color: white;
}

.btn-next:active , .btn-edit:active , .btn-prev:active{
  background : #5892fc;
  color: white;
}

#mobileWorkPurpose-data, #internetWorkPurpose-data{
  margin-top: 80px;
}

.notifyjs-metro-warning {
  color: #8a6d3b !important;
  background-color: #fcf8e3 !important;    
  /* border-color: #faebcc; */
  border: 1px solid transparent !important;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
  border-radius: 4px !important;
}

textarea {
  resize: none;
}

.mui-select__menu{
  /* height: 263px;
  top: 21px; */
}


select[name="spousedob_birth[day]"], select[name="dateSpouse_birth[day]"]{
  position: absolute;
  margin-left: -73%;
}

select[name="datepicker_birth[day]"]{
  position: absolute;
  margin-left: -68%;
}

select[name="datepicker_birth[month]"], select[name="spousedob_birth[month]"], select[name="dateSpouse_birth[month]"]{
  position: absolute;
  margin-left: -38%;
}

select[name="spousedob_birth[year]"], select[name="dateSpouse_birth[year]"]{
  margin-left: 10px;
}

.overlay {
  background-color:#EFEFEF;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0px;
  left: 0px;
  opacity: .5; /* in FireFox */ 
  filter: alpha(opacity=50); /* in IE */
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-left: 38%;
    margin-top: 24%;
}