.css-cart-store {
  margin: 35px 0 45px;
}

.css-btn-margin {
  margin: 2px;
}

.css-cart-controlgroup {
  width: 144px;
}

.css-mobile-cart {
  text-align: center;
}

.css-mobile-carthead {
  padding: 10px;
  margin: 10px;
}

.css-costcenter-modal select.form-control {
  width: 100%;
}

.css-costcenter-modal .css-row {
  margin: 10px 0;
  padding: 10px 0;
  background: #D5EAD5;
  background: -webkit-linear-gradient(left top, #C5D6E4, #E0ECF5);
  background: -o-linear-gradient(bottom right, #C5D6E4, #E0ECF5);
  background: -moz-linear-gradient(bottom right, #C5D6E4, #E0ECF5);
  background: linear-gradient(to bottom right, #C5D6E4, #E0ECF5);
}

.css-costcenter-modal .css-remove {
  line-height: 2.3em;
}

.css-check-modal .css-warning {
  margin: 10px 0 20px;
}

.css-remove-button {
  margin: 24px 0 5px;
}
